<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="admin-dashboard">
        <h2>Admin Dashboard</h2>
        
        <div class="calendar-nav">
            <button id="prev-week">Previous Week</button>
            <h3 id="current-week">Week of {{ today }}</span></h3>
            <button id="next-week">Next Week</button>
        </div>

       

    <script src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>
</body>
</html>